@import "tailwindcss";

@theme {
  --color-brand-600: #004F62; 
  --color-brand-700: #003b49;
  --color-neutral-50: #f8fafc;
  --color-neutral-900: #111827; 
  --radius-card: 0.75rem;
}
@layer base {
  body {
    @apply bg-neutral-50 text-neutral-900 antialiased;
  }
}